# This is an example .env file for your authentication project. Fill in the values with your actual database credentials and JWT secret.

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

JWT_SECRET=